@use '../utils/variables.scss' as *;

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.card__buy {
  display: block;
  font-size: 14px;
  color: #fff;
  background-color: $button-bg-color;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 70px;
  border-radius: 5px;

  &:hover {
    color: $button-hover-color;
    background-color: inherit;
    outline: 1px solid #00acdc;
    outline-offset: -1px;
  }
}
